.crear-consulta-form {
  width: 80vw;
  max-width: 1200px;
  margin: 40px auto;
  background: #fff;
  padding: 24px;
  border-radius: 12px;
  box-sizing: border-box;
}

.crear-consulta-titulo {
  text-align: center;
  margin-bottom: 16px;
  margin-top: 0px;
  color: #222;
}

.crear-consulta-campo label {
  text-align: center;
  margin-bottom: 16px;
  color: #222;
}
.crear-consulta-campo {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.crear-consulta-input,
.crear-consulta-textarea {
  padding: 8px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  margin-top: 4px;
  color: #222;
  background: #fafafa;
}

.crear-consulta-btn {
  width: 100%;
  padding: 10px;
  background: #282c34;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.crear-consulta-btn:disabled {
  background: #bdbdbd;
  cursor: not-allowed;
}
